* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(239, 166, 166);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.heading{
  display: flex;
font-weight: 800;
color: chocolate;
font-style:italic;
height: 10vh;
margin-bottom: 20px;
}
.container {
  text-align: center;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border-radius: 10px;
border-color: brown;
overflow-y: auto;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #3a0505;
  border-radius: 20px;
}

